body {
  margin: 0;
  padding: 0;
  display: block;
}

.header_banner {
  color: white;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background-color: #3f2c4b;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1 {
  font-family: "EB Garamond", serif;
  font-weight: 700;

}

a {
  font-family: "EB Garamond", serif;
  font-weight: 800;
}

.navigation .nav-button {
  text-decoration: none;
  flex: 1;
  background-color: #EF858D;
  outline-color: transparent;
  margin: 6px;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

nav-container {
  display: flex;
  align-content: flex-end;
}

.nav-button:focus {
background-color: #DBBE2C;
color: black;
}


.introduction {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #5a7ab6;

  

  @media screen and (min-width: 961px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 130ch;
  }

}

.CID-logo { 
  padding-right: 45px;
  height: 110px;
  width: 290px;
}
.case-banner {
  background: linear-gradient(#8ACBBD);
}

.case-studies {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  @media screen and (min-width: 481px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 961px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.card{  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #EBDAC5;
  margin: 12px;
  padding: 0.5em;
  border-radius: 5px;
  max-width: 300px;
  height: 320px;
  box-shadow: 0.125rem 0 0 rgba(7,7,33,.15);
}
img {
  border-radius: 5px;
  height: 160px;
  width: 290px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0d3951;
}
.tags {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  color: white;
  gap: 15px;
  
}

.process{
  background-color: #dbbe2cc7;
  border-radius: 10px;
  height: auto;
  width: auto;
  padding: 2px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);
}

.participatie {
  background-color: #81262fc7;
  border-radius: 10px;
  height: auto;
  width: auto;
  padding: 2px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);

}

.uitvoering {
  background-color: #5a7ab6ad;
  border-radius: 10px;
  height: auto;
  width: auto;
  padding: 2px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);
  
}

.footer {
    background: #0d3951;

}
